@model List<Course>
@{
}



<div class="container">


    <br />
    <div class="d-flex justify-content-between">
        <div>
            <h2>واحدهای درسی</h2>
        </div>
        @*<div>
            <a class="btn btn-success" asp-controller="Student" asp-action="Create">افزودن</a>
        </div>*@
        <br />
    </div>
    <table class="table table-striped">

        <thead>

            <tr>

                <th>ردیف</th>
                <th>نام درس</th>
                <th> واحد</th>               

            </tr>

        </thead>


        <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @Model[i].Name
                    </td>
                    <td>
                        @Model[i].Unit
                    </td>                  
                </tr>
            }

        </tbody>

    </table>


</div>

